"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Alex Kam"
email = "kamzhanyue@gmail.com"

[ui]
editor = "nvim"
pager = "delta"
diff-formatter = ":git"
diff-editor = ":builtin"
default-command = "log"

[revset-aliases]
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'

[aliases]
tug = 'bookmark move --from "heads(::@ & bookmarks())" --to "closest_pushable(@)"'
pr = ["util", "exec", "--", "bash", "-c", """
gh pr create --head $(jj log -r 'closest_bookmark(@)' -T 'bookmarks' --no-graph | cut -d ' ' -f 1)
"""]

[signing]
behaviour = "own"
backend = "gpg"

[fix.tools.ruff]
command = ["uv", "run", "ruff", "format", "--stdin-filename", "$path", "-"]
patterns = ["glob:'**/*.py'"]

[fix.tools.ruff-check]
command = ["uv", "run", "ruff", "check", "--fix", "--stdin-filename", "$path", "-"]
patterns = ["glob:'**/*.py'"]

[fix.tools.biome-check]
command = ["bun", "biome", "check", "--fix", "--diagnostic-level=error", "--stdin-file-path", "$path"]
patterns = ["glob:'**/*.tsx'", "glob:'**/*.ts'", "biome.json"]

[git]
sign-on-push = true
