# Ignore everything
/*
/*/

# Except ...
!.gitignore
!.gitconfig
!bootstrap/
!kitty/
!skhd/
!yabai/
!zsh/
!sketchybar/
!bash/
!nvim/
!starship/
!scripts/
!zed/

# Reignore
zed/.*
zed/conversations/*
zed/embeddings/*
zed/prompts/*
zsh/.zsh_history*
zsh/.zsh_sessions*
zsh/.zcompdump*
zsh/.p10k.zsh
nvim/undodir*
