[alias]
	s = status
	a = add .
	pf = push --force-with-lease
	cm = commit -m
	l = log --pretty=oneline
	fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
	diff-words = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'

[rebase]
	autosquash = true
